#screen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

#left {
    grid-area: 1/1/2/2;
    overflow-y: scroll;
    max-height: 98vh;
    border: solid black 1px;
}

#right {
    grid-area: 1/2/2/3;
    max-height: 98vh;
    border: solid black 1px;
}

.row {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: 80px;
}

.bal {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: 40px;
}

.plhs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prhs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.num {
    border-bottom: solid black 1px;
    text-align: center;
}

.int {
    text-align: center;
}

.blhs {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    justify-content: center;
    text-align: center;
    width:40px
}

.brhs {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    justify-content: center;
    text-align: center;
    width:40px
}